In [44]:
import os
import sys

# 確保能匯入 src
project_root = os.path.abspath(os.path.join(os.getcwd(), '..'))
if project_root not in sys.path:
    sys.path.append(project_root)

from src.load_data2 import load_data2

In [45]:
df = load_data2()
print("資料筆數:", len(df))

Dataset URL: https://www.kaggle.com/datasets/nadeemajeedch/fitness-tracker-dataset
資料筆數: 1800

In [ ]:
df.head()

,Age,Gender,Weight (kg),Height (m),Max_BPM,Avg_BPM,Resting_BPM,Session_Duration (hours),Calories_Burned,Workout_Type,Fat_Percentage,Water_Intake (liters),Workout_Frequency (days/week),Experience_Level,BMI
1795,54.0,Male,88.5,2.00,173,134.0,58.0,1.11,1388.0,HIIT,27.7,3.7,3.0,2.0,36.73
1796,52.0,Male,84.3,1.69,164,169.0,54.0,0.77,1367.0,HIIT,32.6,2.9,3.0,2.0,15.11
1797,47.0,Male,70.1,1.84,188,129.0,67.0,1.20,1261.0,Strength,28.4,2.5,3.0,2.0,17.99
1798,35.0,Male,49.3,1.71,180,152.0,73.0,1.04,956.0,Cardio,32.9,1.7,4.0,3.0,12.65
1799,40.0,Male,79.5,1.92,184,156.0,52.0,1.29,1178.0,Strength,14.7,1.5,4.0,1.0,23.51

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1800 entries, 0 to 1799
Data columns (total 15 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   Age                            1790 non-null   float64
 1   Gender                         1729 non-null   object
 2   Weight (kg)                    1778 non-null   float64
 3   Height (m)                     1774 non-null   float64
 4   Max_BPM                        1779 non-null   object
 5   Avg_BPM                        1770 non-null   float64
 6   Resting_BPM                    1781 non-null   float64
 7   Session_Duration (hours)       1777 non-null   float64
 8   Calories_Burned                1777 non-null   float64
 9   Workout_Type                   1739 non-null   object
 10  Fat_Percentage                 1784 non-null   float64
 11  Water_Intake (liters)          1776 non-null   float64
 12  Workout_Frequency (days/week)  1742 non-null   float64
 13  Experience_Level               1743 non-null   float64
 14  BMI                            1770 non-null   float64
dtypes: float64(12), object(3)
memory usage: 211.1+ KB

In [ ]:
df.describe()
#

,Age,Weight (kg),Height (m),Avg_BPM,Resting_BPM,Session_Duration (hours),Calories_Burned,Fat_Percentage,Water_Intake (liters),Workout_Frequency (days/week),Experience_Level,BMI
count,1790.000000,1778.000000,1774.000000,1770.000000,1781.000000,1777.000000,1777.000000,1784.000000,1776.000000,1742.000000,1743.000000,1770.000000
mean,34.475419,67.606637,1.739233,146.259322,63.951151,1.391598,1033.698931,23.509361,2.706644,3.339265,1.823867,19.957774
std,12.315728,19.861408,0.123892,15.219516,7.936502,0.372342,328.049662,5.865557,0.710224,0.947955,0.746568,6.573175
min,18.000000,40.000000,1.500000,120.000000,50.000000,0.500000,303.000000,10.000000,1.500000,2.000000,1.000000,12.320000
25%,23.000000,52.300000,1.650000,133.250000,57.000000,1.130000,794.000000,20.500000,2.100000,3.000000,1.000000,14.780000
50%,33.000000,65.300000,1.730000,146.000000,65.000000,1.370000,1030.000000,24.300000,2.800000,3.000000,2.000000,18.690000
75%,45.000000,80.100000,1.820000,160.000000,72.000000,1.640000,1249.000000,27.500000,3.400000,4.000000,2.000000,23.517500
max,59.000000,129.900000,2.000000,169.000000,74.000000,2.000000,1783.000000,35.000000,3.700000,5.000000,3.000000,49.840000

In [12]:
df.isnull().sum()

Age                              10
Gender                           71
Weight (kg)                      22
Height (m)                       26
Max_BPM                          21
Avg_BPM                          30
Resting_BPM                      19
Session_Duration (hours)         23
Calories_Burned                  23
Workout_Type                     61
Fat_Percentage                   16
Water_Intake (liters)            24
Workout_Frequency (days/week)    58
Experience_Level                 57
BMI                              30
dtype: int64

In [ ]:
df['Max_BPM'].dtype

dtype('O')

In [ ]:
import pandas as pd
df['Max_BPM'] = pd.to_numeric(df['Max_BPM'], errors='coerce')

In [22]:
df['Max_BPM'].dtype

dtype('float64')

In [ ]:
numeric_cols = df.select_dtypes(include=['float64']).columns
numeric_cols

Index(['Age', 'Weight (kg)', 'Height (m)', 'Max_BPM', 'Avg_BPM', 'Resting_BPM',
       'Session_Duration (hours)', 'Calories_Burned', 'Fat_Percentage',
       'Water_Intake (liters)', 'Workout_Frequency (days/week)',
       'Experience_Level', 'BMI'],
      dtype='object')

In [ ]:
print(type(numeric_cols))

<class 'pandas.core.indexes.base.Index'>

In [24]:
df[numeric_cols] = df[numeric_cols].fillna(df[numeric_cols].mean())

In [26]:
df.describe()

,Age,Weight (kg),Height (m),Max_BPM,Avg_BPM,Resting_BPM,Session_Duration (hours),Calories_Burned,Fat_Percentage,Water_Intake (liters),Workout_Frequency (days/week),Experience_Level,BMI
count,1800.000000,1800.000000,1800.000000,1800.000000,1800.000000,1800.000000,1800.000000,1800.000000,1800.000000,1800.000000,1800.000000,1800.000000,1800.000000
mean,34.475419,67.606637,1.739233,180.233070,146.259322,63.951151,1.391598,1033.698931,23.509361,2.706644,3.339265,1.823867,19.957774
std,12.281451,19.739592,0.122993,11.383915,15.092083,7.894480,0.369954,325.945879,5.839416,0.705470,0.932548,0.734645,6.518137
min,18.000000,40.000000,1.500000,160.000000,120.000000,50.000000,0.500000,303.000000,10.000000,1.500000,2.000000,1.000000,12.320000
25%,23.750000,52.575000,1.660000,170.000000,134.000000,57.000000,1.140000,800.000000,20.500000,2.100000,3.000000,1.000000,14.860000
50%,33.000000,65.700000,1.739233,180.616535,146.000000,65.000000,1.370000,1033.698931,24.200000,2.706644,3.000000,2.000000,18.850000
75%,45.000000,80.000000,1.820000,190.000000,159.000000,72.000000,1.630000,1246.250000,27.500000,3.300000,4.000000,2.000000,23.322500
max,59.000000,129.900000,2.000000,199.000000,169.000000,74.000000,2.000000,1783.000000,35.000000,3.700000,5.000000,3.000000,49.840000

In [27]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1800 entries, 0 to 1799
Data columns (total 15 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   Age                            1800 non-null   float64
 1   Gender                         1729 non-null   object
 2   Weight (kg)                    1800 non-null   float64
 3   Height (m)                     1800 non-null   float64
 4   Max_BPM                        1800 non-null   float64
 5   Avg_BPM                        1800 non-null   float64
 6   Resting_BPM                    1800 non-null   float64
 7   Session_Duration (hours)       1800 non-null   float64
 8   Calories_Burned                1800 non-null   float64
 9   Workout_Type                   1739 non-null   object
 10  Fat_Percentage                 1800 non-null   float64
 11  Water_Intake (liters)          1800 non-null   float64
 12  Workout_Frequency (days/week)  1800 non-null   float64
 13  Experience_Level               1800 non-null   float64
 14  BMI                            1800 non-null   float64
dtypes: float64(13), object(2)
memory usage: 211.1+ KB

In [28]:
df['Workout_Type'].mode()

0    Strength
Name: Workout_Type, dtype: object

In [ ]:
# 取 Workout_Type 欄位中最常出現的值
df['Workout_Type'].mode()[0]

'Strength'

In [30]:
df['Gender'].mode()[0]

'Female'

In [31]:
df['Gender']=df['Gender'].fillna(df['Gender'].mode()[0])
df['Workout_Type']=df['Workout_Type'].fillna(df['Workout_Type'].mode()[0])

In [32]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1800 entries, 0 to 1799
Data columns (total 15 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   Age                            1800 non-null   float64
 1   Gender                         1800 non-null   object
 2   Weight (kg)                    1800 non-null   float64
 3   Height (m)                     1800 non-null   float64
 4   Max_BPM                        1800 non-null   float64
 5   Avg_BPM                        1800 non-null   float64
 6   Resting_BPM                    1800 non-null   float64
 7   Session_Duration (hours)       1800 non-null   float64
 8   Calories_Burned                1800 non-null   float64
 9   Workout_Type                   1800 non-null   object
 10  Fat_Percentage                 1800 non-null   float64
 11  Water_Intake (liters)          1800 non-null   float64
 12  Workout_Frequency (days/week)  1800 non-null   float64
 13  Experience_Level               1800 non-null   float64
 14  BMI                            1800 non-null   float64
dtypes: float64(13), object(2)
memory usage: 211.1+ KB