In [56]:
import os
import sys

# 確保能匯入 src
project_root = os.path.abspath(os.path.join(os.getcwd(), '..'))
if project_root not in sys.path:
    sys.path.append(project_root)

from src.load_data import load_data

In [57]:
df = load_data()
print("資料筆數:", len(df))

Dataset URL: https://www.kaggle.com/datasets/nadeemajeedch/fitness-tracker-dataset
資料載入成功！筆數： 1800
    Age  Gender  Weight (kg)  Height (m) Max_BPM  Avg_BPM  Resting_BPM  \
0  34.0  Female         86.7        1.86     174    152.0         74.0
1  26.0  Female         84.7        1.83     166    156.0         73.0
2  22.0    Male         64.8        1.85     187    166.0         64.0
3  54.0  Female         75.3        1.82     187    169.0         58.0
4  34.0  Female         52.8        1.74     177    169.0         66.0

   Session_Duration (hours)  Calories_Burned Workout_Type  Fat_Percentage  \
0                      1.12            712.0     Strength            12.8
1                      1.00            833.0     Strength            27.9
2                      1.24           1678.0       Cardio            28.7
3                      1.45            628.0       Cardio            31.8
4                      1.60           1286.0     Strength            26.4

   Water_Intake (liters)  Workout_Frequency (days/week)  Experience_Level  \
0                    2.4                            5.0               2.0
1                    2.8                            5.0               2.0
2                    1.9                            3.0               2.0
3                    2.4                            4.0               1.0
4                    3.2                            4.0               2.0

     BMI
0  14.31
1  33.49
2  12.73
3  20.37
4  20.83
資料筆數: 1800

In [58]:
df.head()

,Age,Gender,Weight (kg),Height (m),Max_BPM,Avg_BPM,Resting_BPM,Session_Duration (hours),Calories_Burned,Workout_Type,Fat_Percentage,Water_Intake (liters),Workout_Frequency (days/week),Experience_Level,BMI
0,34.0,Female,86.7,1.86,174,152.0,74.0,1.12,712.0,Strength,12.8,2.4,5.0,2.0,14.31
1,26.0,Female,84.7,1.83,166,156.0,73.0,1.00,833.0,Strength,27.9,2.8,5.0,2.0,33.49
2,22.0,Male,64.8,1.85,187,166.0,64.0,1.24,1678.0,Cardio,28.7,1.9,3.0,2.0,12.73
3,54.0,Female,75.3,1.82,187,169.0,58.0,1.45,628.0,Cardio,31.8,2.4,4.0,1.0,20.37
4,34.0,Female,52.8,1.74,177,169.0,66.0,1.60,1286.0,Strength,26.4,3.2,4.0,2.0,20.83

In [59]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1800 entries, 0 to 1799
Data columns (total 15 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   Age                            1790 non-null   float64
 1   Gender                         1729 non-null   object
 2   Weight (kg)                    1778 non-null   float64
 3   Height (m)                     1774 non-null   float64
 4   Max_BPM                        1779 non-null   object
 5   Avg_BPM                        1770 non-null   float64
 6   Resting_BPM                    1781 non-null   float64
 7   Session_Duration (hours)       1777 non-null   float64
 8   Calories_Burned                1777 non-null   float64
 9   Workout_Type                   1739 non-null   object
 10  Fat_Percentage                 1784 non-null   float64
 11  Water_Intake (liters)          1776 non-null   float64
 12  Workout_Frequency (days/week)  1742 non-null   float64
 13  Experience_Level               1743 non-null   float64
 14  BMI                            1770 non-null   float64
dtypes: float64(12), object(3)
memory usage: 211.1+ KB

In [60]:
df.describe()
#

,Age,Weight (kg),Height (m),Avg_BPM,Resting_BPM,Session_Duration (hours),Calories_Burned,Fat_Percentage,Water_Intake (liters),Workout_Frequency (days/week),Experience_Level,BMI
count,1790.000000,1778.000000,1774.000000,1770.000000,1781.000000,1777.000000,1777.000000,1784.000000,1776.000000,1742.000000,1743.000000,1770.000000
mean,34.475419,67.606637,1.739233,146.259322,63.951151,1.391598,1033.698931,23.509361,2.706644,3.339265,1.823867,19.957774
std,12.315728,19.861408,0.123892,15.219516,7.936502,0.372342,328.049662,5.865557,0.710224,0.947955,0.746568,6.573175
min,18.000000,40.000000,1.500000,120.000000,50.000000,0.500000,303.000000,10.000000,1.500000,2.000000,1.000000,12.320000
25%,23.000000,52.300000,1.650000,133.250000,57.000000,1.130000,794.000000,20.500000,2.100000,3.000000,1.000000,14.780000
50%,33.000000,65.300000,1.730000,146.000000,65.000000,1.370000,1030.000000,24.300000,2.800000,3.000000,2.000000,18.690000
75%,45.000000,80.100000,1.820000,160.000000,72.000000,1.640000,1249.000000,27.500000,3.400000,4.000000,2.000000,23.517500
max,59.000000,129.900000,2.000000,169.000000,74.000000,2.000000,1783.000000,35.000000,3.700000,5.000000,3.000000,49.840000

In [61]:
df.isnull().sum()

Age                              10
Gender                           71
Weight (kg)                      22
Height (m)                       26
Max_BPM                          21
Avg_BPM                          30
Resting_BPM                      19
Session_Duration (hours)         23
Calories_Burned                  23
Workout_Type                     61
Fat_Percentage                   16
Water_Intake (liters)            24
Workout_Frequency (days/week)    58
Experience_Level                 57
BMI                              30
dtype: int64

In [62]:
df['Max_BPM'].dtype

dtype('O')

In [63]:
import pandas as pd
# 把字串轉成數字，無法轉的就變成 NaN
df['Max_BPM'] = pd.to_numeric(df['Max_BPM'], errors='coerce')

In [64]:
df['Max_BPM'].dtype

dtype('float64')

In [65]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1800 entries, 0 to 1799
Data columns (total 15 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   Age                            1790 non-null   float64
 1   Gender                         1729 non-null   object
 2   Weight (kg)                    1778 non-null   float64
 3   Height (m)                     1774 non-null   float64
 4   Max_BPM                        1772 non-null   float64
 5   Avg_BPM                        1770 non-null   float64
 6   Resting_BPM                    1781 non-null   float64
 7   Session_Duration (hours)       1777 non-null   float64
 8   Calories_Burned                1777 non-null   float64
 9   Workout_Type                   1739 non-null   object
 10  Fat_Percentage                 1784 non-null   float64
 11  Water_Intake (liters)          1776 non-null   float64
 12  Workout_Frequency (days/week)  1742 non-null   float64
 13  Experience_Level               1743 non-null   float64
 14  BMI                            1770 non-null   float64
dtypes: float64(13), object(2)
memory usage: 211.1+ KB

In [67]:
# 找出 Dtype='float64' 的所有欄位
numeric_cols = df.select_dtypes(include=['float64']).columns
# 利用各欄位的‘平均數’填補缺失值
df[numeric_cols] = df[numeric_cols].fillna(df[numeric_cols].mean())

In [27]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1800 entries, 0 to 1799
Data columns (total 15 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   Age                            1800 non-null   float64
 1   Gender                         1729 non-null   object
 2   Weight (kg)                    1800 non-null   float64
 3   Height (m)                     1800 non-null   float64
 4   Max_BPM                        1800 non-null   float64
 5   Avg_BPM                        1800 non-null   float64
 6   Resting_BPM                    1800 non-null   float64
 7   Session_Duration (hours)       1800 non-null   float64
 8   Calories_Burned                1800 non-null   float64
 9   Workout_Type                   1739 non-null   object
 10  Fat_Percentage                 1800 non-null   float64
 11  Water_Intake (liters)          1800 non-null   float64
 12  Workout_Frequency (days/week)  1800 non-null   float64
 13  Experience_Level               1800 non-null   float64
 14  BMI                            1800 non-null   float64
dtypes: float64(13), object(2)
memory usage: 211.1+ KB

In [28]:
df['Workout_Type'].mode()

0    Strength
Name: Workout_Type, dtype: object

In [ ]:
# 取 Workout_Type 欄位中最常出現的值
df['Workout_Type'].mode()[0]

'Strength'

In [30]:
df['Gender'].mode()[0]

'Female'

In [69]:
df['Gender']=df['Gender'].fillna(df['Gender'].mode()[0])
df['Workout_Type']=df['Workout_Type'].fillna(df['Workout_Type'].mode()[0])

In [70]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1800 entries, 0 to 1799
Data columns (total 15 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   Age                            1800 non-null   float64
 1   Gender                         1800 non-null   object
 2   Weight (kg)                    1800 non-null   float64
 3   Height (m)                     1800 non-null   float64
 4   Max_BPM                        1800 non-null   float64
 5   Avg_BPM                        1800 non-null   float64
 6   Resting_BPM                    1800 non-null   float64
 7   Session_Duration (hours)       1800 non-null   float64
 8   Calories_Burned                1800 non-null   float64
 9   Workout_Type                   1800 non-null   object
 10  Fat_Percentage                 1800 non-null   float64
 11  Water_Intake (liters)          1800 non-null   float64
 12  Workout_Frequency (days/week)  1800 non-null   float64
 13  Experience_Level               1800 non-null   float64
 14  BMI                            1800 non-null   float64
dtypes: float64(13), object(2)
memory usage: 211.1+ KB

In [71]:
df.isnull().sum()

Age                              0
Gender                           0
Weight (kg)                      0
Height (m)                       0
Max_BPM                          0
Avg_BPM                          0
Resting_BPM                      0
Session_Duration (hours)         0
Calories_Burned                  0
Workout_Type                     0
Fat_Percentage                   0
Water_Intake (liters)            0
Workout_Frequency (days/week)    0
Experience_Level                 0
BMI                              0
dtype: int64